* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #019FEF;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	line-height: 1.6;
}

.container {
	max-width: 650px;
	margin: 1rem auto;
	overflow: auto;
	padding: 0 2rem;
}

h1 {
	color: #FFF;
	margin-top: 15px;
}

h3 {
	color: #FFF;
	margin-bottom: 10px;
}

.message {
	text-align: center;
	padding: 5px;
	border: #ccc dotted 2px;
	margin-top: 2rem;
}

.logo {
	width: 300px;
	display: block;
	margin: auto;
}

.form-group {
	margin: 1rem 0;
}

input[type='text'],
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border: 1px solid #ccc;
}
